body {
  width: 100%;
  margin: auto;
  color: #3e3e3e;
}

h1 {
  color:blue;
}

a{
  text-decoration: none;
}

div p {
  font-size: 50px;
  float: left;
}

#header {
  border-style: none;
  background: #6396bc;
  width: 100%;
  top: 0;
  position: fixed;
}

li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 15px;
}

.nav {
    float: right;
}
