body {
  width:100%;
  margin:auto;
}

.container {
  width:968px;
  margin:0 auto;
}

#header {
  background-color: #3e3e3e;
  width: 100%;
  top:0;
  position:fixed;
}

#logo {
  float:left;
}

#logo>h1>a{
  font-family: fantasy;
  text-decoration: none;
  color: #0078ff;
}

#nav {
  float:right;
}

#nav>ul>li {
  list-style: none;
  margin-right: 15px;
  margin-top: 15px;
  float: left;
}

li>a {
  color: #0078ff;
  text-decoration: none;
  font-family: fantasy;
}
