h1 {
  color:blue;
}

div {
  height: 18px;
  width: 120px;
  border-color: #6495ED;
  background-color: #BCD2EE;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

a{
  text-decoration: none;
}

#header {
  background-color: #FF6600;
}
